@page
@model IndexModel
@{    
    ViewData["Title"] = "List of demos";
}

<div class="text-left">
    <h1 class="display-4">Links to demos in the Sandbox</h1>
    <body>
        <dl>
          <dt>Azure Machine Learning</dt>
            <dd>Link</dd>
          <dt>Azure Fabric</dt>
            <dd>Link</dd>
          <dt>Azure Cognitive Services</dt>
            <dd>Link</dd>
        </dl>
    </body>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
